<html>
<head>
    <title>Tic Tac Toe</title>
</head>
<body>

<style>
table, td {
    border: 1px solid black;
}
td { 
	border-spacing: 0;
	height: 25px;
	width: 25px;
	margin: 0; padding: 0;
	text-align: center;
}
</style>

<%= yield %>

</body>
</html>
