<h2 style=color:red>Customize your Game</h2>

<form action="/new_game" method="POST">
    Player 1:
    <br/> 
    <input type="radio" name="player1" value="Human" checked>Human 
    <br/>
    If Human, type your name: <input type="text" name="player1_name">
    <br/>
    <br/>
    <input type="radio" name="player1" value="Computer">Computer
    <br/>
    If Computer, select level:  
    <select name="player1_level">
    <option value="Easy">Easy</option>
    <option value="Moderate">Moderate</option>
    <option value="Hard">Hard</option>
    </select>
    <br/>
    <br/>
    <br/>
    
    Player 2:
    <br/> 
    <input type="radio" name="player2" value="Human" checked>Human 
    <br/>
    If Human, type your name: <input type="text" name="player2_name">
    <br/>
    <br/>
    <input type="radio" name="player2" value="Computer">Computer
    <br/>
    If Computer, select level:  
    <select name="player2_level">
    <option value="Easy">Easy</option>
    <option value="Moderate">Moderate</option>
    <option value="Hard">Hard</option>
    </select>
    <br/>
    <br/>
    <br/>

    Select the Board size: <input type="number" min="2" name="board_size">
    <br/>
    Select the Number in row to win (can't be more than the board size): <input type="number" min="2" name="win_size">
    <br/>
    <input type="submit">
</form>
